body {
    background-color: #002b36;
    color: #93a1a1;
    font-family: monospace;
    font-size: 14px;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
}

a {
    color: #268bd2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #859900;
}

.box {
    border: double 4px #268bd2;
    border-radius: 3px;
    margin: 1px;
    padding: 20px;
}

.header,
.footer {
    font-size: 32px;
    width: 100%;
}

.footer a:hover {
    text-decoration: none;
}

.main {
    flex-basis: 720px;
    flex-grow: 2;
    padding-right: 40px;
}

.aside {
    flex-basis: 240px;
    flex-grow: 1;
}